<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>FitTrack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>FitTrack</h1>

    <nav>
        <a href="/users/new">Créer utilisateur</a>
        <a href="/weights/new">Ajouter poids</a>
        <a href="/meals/new">Ajouter repas</a>
         <a href="/suivi">Voir le suivi</a>
    </nav>

    <div class="card">
        <h2>Générer le rapport PDF</h2>
        <form method="get" action="/report">
            <label>User ID</label>
            <input name="user_id" value="1">
            <button type="submit">Télécharger le PDF</button>
        </form>
    </div>

    <div class="footer">
        Projet FitTrack – M1 Informatique
    </div>
</div>

</body>
</html>
